<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Doğum Günü Ekle</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #birthdayAddForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group ">
                <label for="date">Doğum Tarihi</label>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" data-date-format="YYYY-MM-DD" id="date" #date="ngModel"
                            [(ngModel)]="birthday.date" name="date" required>
                    </div>
                    <label for="title">Kimin Doğum Günü?</label>
                    <input type="input" class="form-control" id="title" placeholder="İsim giriniz" #title="ngModel"
                        [(ngModel)]="birthday.title" name="title" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="birthdayAddForm.invalid"
                    (click)="refresh()">Kaydet</button>
            </div>
        </form>
    </div>
</ng-template>

<div class="text-center">
    <button class="btn btn-lg btn-outline-success" (click)="open(content)">Doğum Günü Ekle</button>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="my-3 p-3 bg-danger rounded box-shadow">
            <h6 class="border-bottom border-white pb-2 mb-0 text-white">Geçmiş Doğum Günleri</h6>
            <div *ngFor="let birthday of pastBirthdays | async" class="media text-muted pt-3">
                <div class="mr-2 ml-2 rounded media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <span class="text-white">{{birthday.title}}</span>
                        <div class="btn-group" role="group" aria-label="Action buttons">
                            <button type="button" class="btn btn-danger btn-sm text-white">Sil</button>
                            <button type="button" class="btn btn-danger btn-sm text-white">Güncelle</button>
                        </div>
                    </div>
                    <span class="d-block text-white">{{birthday.date | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#"></a>
            </small>
        </div>
    </div>
    <div class="col-md-4">
        <div class="my-3 p-3 bg-info rounded box-shadow">
            <h6 class="border-bottom border-white pb-2 mb-0 text-white">Bugün Olan Doğum Günleri</h6>
            <div *ngFor="let birthday of currentBirthdays | async" class="media text-muted pt-3">
                <div class="mr-2 ml-2 rounded media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <span class="text-white">{{birthday.title}}</span>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-info btn-sm text-white">Sil</button>
                            <button type="button" class="btn btn-info btn-sm text-white">Güncelle</button>
                        </div>
                    </div>
                    <span class="d-block text-white">{{birthday.date | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#"></a>
            </small>
        </div>
    </div>
    <div class="col-md-4">
        <div class="my-3 p-3 bg-secondary rounded box-shadow">
            <h6 class="border-bottom border-white pb-2 mb-0 text-white">Gelecek Doğum Günleri</h6>
            <div *ngFor="let birthday of nextBirthdays | async" class="media text-muted pt-3">
                <div class="mr-2 ml-2 rounded media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <span class="text-white">{{birthday.title}}</span>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary btn-sm text-white">Sil</button>
                            <button type="button" class="btn btn-secondary btn-sm text-white">Güncelle</button>
                        </div>
                    </div>
                    <span class="d-block text-white">{{birthday.date | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#"></a>
            </small>
        </div>
    </div>
</div>